<%- include("header"); -%>  

<h2>This is the about page</h2>

<p>This is the place where you describe your self your biography and the history of your past working experience</p>

<%- include("footer"); -%>  